/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*
#footer{
  float:center;  
  width:100%;
  margin-left:50%
}

#container {
  position:relative;
  margin-left:316px;
  margin-top:-130px;
  max-width:960px;
}

#side{
  position:relative;
  top:25px;
  margin-left:46px;
  margin-top:-20px;
  width:15%;
}
.odd {background:#ccccff; color:black;}
.even{background:#dddddd; color:black;}

table {
  
  width:99%;
  margin-top:0;
  margin-bottom:15px;
  box-shadow: 4px 4px 3px gray;
}*/

