// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.emp-cancel-update {
  margin-top:-44px;
  margin-left: 175px;
}

.emp-cancel-new {
  margin-top:-44px;
  margin-left: 265px;
}

#emp-left-column {
  width: 150px;
  margin-top: 10px;
}

#emp-right-column {
  margin-top: -120px;
  margin-left: 120px;
  width: 500px;   
}

#profile {
}

#profile ul li {
}

#profile_pic {
  width: 150px;
}
