// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reset-note {
	font-style: italic;
	color: #7A7A52;
    margin-left: 10px;
}


.reset-cancel {
  margin-top:-44px;
  margin-left: 75px;
}
