// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#requests .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #ccddff;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#requests #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#requests ul {
  font-size: 7px;
  padding-left: 20px;
}


label {
  float: left;
  width: 110px;
  text-align: left;
  margin: 2px 5px;
}

input {
  margin-top: 2px;
  position: relative;
  top: -5px;
}

textarea {
  margin-top: 2px;
  display: block;
  position:relative;
  top: 25px;
  left: -115px;
  height: 120px;
}

.field_with_errors {
  
  & textarea {
    margin-left: 120px;
    margin-top: -20px;
  }
}

.req-dates {
  margin-top: 10px;
  position:relative;
  top: 20px;
}

.req-select-checkboxes {
  position: relative;
  top: 10px;
  & ul li {
    display:inline;
    list-style: none;
  } 
}

.language {
  position:relative;
  margin-top:-15px;
  top: -10px;
  left: 20px;
}

#description {
  margin-top:-35px;
}

.req-description {
  position:relative;
  top:-10px;
}

#field {
  margin-top:5px;
}

input[type='submit'] {
  margin-left: 8px;
  margin-top:20px;
}

#requests {
  margin-left:20px;
}

#req-skills {
  position:relative;
  top:10px;
}

.inbox{
   display: block;
   margin-left: 120px;
   position:relative;
   top: 10px;
}

#left-column {
    position: relative;
    width: 50%;
    top: 2px;
    left: -40px;
}

#right-column {
    width: 80%;
    float: right;
    margin-top: -35px;
    & label {
      text-align:right;
      padding-right: 2px;
      position:relative;
      top: -10px;
    }
    & select {
      position:relative;
      top: -10px;
    }
}

.req-cancel-new {
  margin-top:-44px;
  margin-left: 175px;
}


.req-cancel-update {
  margin-top:-44px;
  margin-left: 175px;
}

